{% extends 'base.html' %}



{% block content %}

<section>
    <h2>Registration</h2>
   

    <!-- User Registration Form -->
    <form method="post">
        {% csrf_token %}
        <label for="patient_name">Patient Name:</label>
        <input type="text" id="patient_name" name="patient_name" required><br>

        <label for="hiv_status">HIV Status:</label>
        <select id="hiv_status" name="hiv_status" required>
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
        </select><br>

        <label for="tb_status">TB Status:</label>
        <select id="tb_status" name="tb_status" required>
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
        </select><br>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="login.html">Log in here</a>.</p>
</section>

{% endblock %}