{% extends 'base.html' %}

{% block content %}

<section>
    <h2>Login</h2>

    <!-- User Login Form -->
    <form action="{% url 'biomedic:login' %}" method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'biomedic:registration' %}">Register here</a>.</p>
</section>

{% endblock %}
